/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* Utils */

  body{
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-smaller {
    max-width: 1000px;
    margin: 0 auto;
  }

.flex {
    display: flex;
}

  header {
    background-color: white;
    height: 50px;
    width: 100%;
    font-size: 12px;
  }

  .navbar {
    justify-content: space-between;
    
  }

  footer {
    background-color: black;
    min-height: 100px;
  }

  ul {
  list-style-type: none;
  display: flex;
}

li {
    padding: 0 15px;
}

p {
    font-size: 10px;
}

  /* Header */

  .logo-hdr {
    vertical-align: middle;
    height: 20px;
    padding-left: 15px;
  }

  .left-hdr {
    vertical-align: middle;
    flex-basis: 50%;
    padding-top: 15px;
    }

    .right-hdr {
        vertical-align: middle;
        flex-basis: 50%;
        padding-top: 15px;
        justify-content: end;
        }

    .start-bttn {
        color: white;
        background-color: dodgerblue;
        padding: 5px 7px;
    }


  /* Main */

  .jumbotron {
    background-color: rgb(180, 208, 231);
    text-align: center;
    /* width: 700px; */

    justify-content: center;
    
  }

  h1 {
    font-size: 40px;
    max-width: 700px;
    padding-top: 30px;
    display: inline-block;
    text-align: left;
    padding-left: 48px;
  }

  .column{
    
    display: flex;
    justify-content: center;
}
.column .col-large{
    min-height: 250px;
    background-color: rgb(180, 208, 231);
    max-width: 400px;
    flex-basis: 60%;
}
.column .col-small{
    min-height: 250px;
    background-color: rgb(180, 208, 231);
    max-width: 200px;
    flex-basis: 40%;
    padding-top: 0px;
    margin-top: 40px;
    text-align: left;
}

.img-jumbo img {
    height: 270px;
}



  /* Footer */

