/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* Utils */

  body{
    font-family: 'Open Sans', sans-serif;
}





.container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-smaller {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
  }

.flex {
    display: flex;
}

  header {
    background-color: white;
    height: 50px;
    width: 100%;
    font-size: 12px;
    position: fixed;
    z-index: 1;
  }

  .navbar {
    justify-content: space-between;
    
  }

  footer {
    background-color: black;
    min-height: 100px;
  }

  ul {
  list-style-type: none;
  display: flex;
}

li {
    padding: 0 15px;
}

h1 {
    font-size: 57px;
    font-weight: 800;
}

img {
    max-width: 100%;
}

.blue-bttn {
    background-color:#0061FF ;
    color:#fff;
    padding: 8px 16px;
    margin-bottom: 40px;
    text-decoration: none;
    }






  /* Header */

  .logo-hdr {
    vertical-align: middle;
    height: 20px;
    padding-left: 15px;
  }

  .left-hdr {
    vertical-align: middle;
    flex-basis: 50%;
    padding-top: 15px;
    }

    .right-hdr {
        vertical-align: middle;
        flex-basis: 50%;
        padding-top: 15px;
        justify-content: end;
        }

    

    .bttn-navbar {
    position: relative;
    bottom: 8px;
    }


  /* Main */

  /* jumbotron */

  

  #jumbo {
    height: 650px;
    background-color: rgb(180, 208, 231);
    padding-top: 80px;
  }

  .col-small {
    flex-basis: 30%;
  }

  .col-small * {
    margin-bottom: 40px;
  } 

  .col-large {
    flex-basis: 70%;
  }

  #jumbo .row {
    padding-top: 20px;
  }

  a {
    display: inline-block;
  } 

  .fa-arrow-down {
    font-size: 50px;
    color: black;
  }

  /* business */

  #business {
    background-color: #fff;
    min-height: 700px;
  }

  #business .row {
    gap: 30px;
  }

  #business h2 {
    margin-top: 140px;
    font-size: 35px;
    text-align: left;
    font-weight: 525;
    margin-bottom: 45px;
  }

  .row .type-plan {
    flex-basis: calc(100% / 3);
    border: 1px solid lightgrey;
    /* min-height: 100px; */
    margin-top: 50px;
    justify-content: center;
    padding: 5px;
  }

  .fa-solid {
    vertical-align: middle;
    padding: 5px;
  }

  .row .plan {
    flex-basis: calc(100% / 3);
    border: 1px solid lightgrey;
    min-height: 100px;
    padding: 30px 20px;
    
    /* margin-top: 50px; */
  }

  .row .plan h3 {
    font-size: 30px;
    font-weight: 525;
    padding-bottom: 15px;

  }

  /* .row .plan h4 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
  } */

  .row .plan h5 {
    font-size: 18px;
    font-weight: 525;

  }

  .row .plan ul {
    display: block;
    padding-top: 70px;
  }

  .row .plan li {
    padding-bottom: 20px;
  }

  #business .fatt {
    padding-right: 15px;
  }

  .bttn-plan {
    padding: 8px 30px;
    margin-top: 30px;
    position: relative;
    left: 5%;

  }

  hr {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 50px;
 }

.plan li {
    padding: 0;
}
  
 .check-blue {
    font-size: 20px;
    color: #0061FF;
 }

 .bttn-plan-ent {
    padding: 8px 70px;
    margin-top: 30px;
    position: relative;
    left: 10%;
 }


  /* Footer */